html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="/stylesheets/mapstyle.css")
        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false")
        script(type="text/javascript" src="/javascripts/maps.js")
    body
        div(id="map-canvas")