extends layout

block content  
  head
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false")
    script(type="text/javascript" src="/javascripts/maps.js")
  body
    div(name="Input container", class="container")
      h1= title
      p Welcome to #{title}
      header
        form(method="post")
          label(for="latitude" name="lab_latitude") Enter your latitude
          input(type="text", name="latitude", id="latitude")
          p
          label(for="longitude" name="lab_longitude") Enter your longitude
          input(type="text", name="longitude", id="longitude")
          p
          input(type="submit", name="ClickMe", value="ClickMe")
          input(type="button", name="updateMap", value="UpdateMap")
      nav 
        each navItem in navItems
          p= "Place Name: "+navItem.entityType
          p= "Distance: "+ navItem.calculatedDistance
          p
    div(id= "map-canvas", onclick='testFunction()' , attr1=navItems)
        
          
      

    